<%- include('partials/header'); -%>
<% var message = logginMessage %>
<%- include('partials/navbar',{logginMessage:message}); -%>
<%# ---------------------------About this page------------------------------ %>
<div class="layer1">
  <img style= "float: left"src=<%=imgSrc%> alt="oops... Nothing loaded">
  <p><%=about%></p>
</div>






<%- include('partials/footer'); -%>
